[Unit]

Description=Macos-Virt Agent.

[Service]

ExecStart=/usr/sbin/macos-virt-service
After=network-online.target
Wants=network-online.target
Restart=on-failure
RestartSec=5s

[Install]

WantedBy=multi-user.target